.card-body
{
    color: black;
	padding-left:40px;
}

body{
    /*background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 89%);
   */
   background: url(bg.jpg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.btn:hover{
    text-decoration: none;
    background-color: white !important;
    color: black !important;
}
h2{
    color: #FFFFFF;
    text-align: center;
  }
#nav
{	
  
    background-color:	rgba(255,255,255,0) !important;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  
}
#navcont
{
margin-left:760px !important;
}

.dropdown-menu
{
    
	color:white !important;
	margin-left:980px !important;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width:auto;
        height: 100%;
    }
}
@media (max-width: 769px) {
    #videoBG {
        display: none;
    }
    body {
        background-color: black;
       
    }
#navcont
{

margin-left:0px !important;
}

.dropdown-menu
{ 	width:20px;
	color:black !important;
	margin-left:0px !important;
}
#navbarDropdownMenuLink{
	width:110px;
}
	#link
{
color:white ;
display:flex;
justify-content:center;
text-decoration:none;
}
.link{
	display:flex;
justify-content:center;
}
	#reserved{
			display:flex;
justify-content:center;
}
		
}


/*media query for content*/

@media (max-width:362px)
{
   
    .card
    {
        width: 300px;
        transform: translateX(3%) !important;
    }
}







/*footer*/
#links
{
color:white ;
list-style-type: none !important ;
  margin: 0;
  padding: 0;
}
#link
{
color:white ;
display:flex;
align-items:start;
text-decoration:none;
}
.link{
	display:flex;
align-items:center;
}
#link:hover{
color:grey;
text-decoration:underline;

}
.followlink
{
list-style-type: none !important ;
  margin: 0;
  padding: 0;
}
#reserved
{
	background-color:black;
	overflow:hidden !important;
	
}



.card:hover{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 34%, rgba(34,193,195,1) 39%, rgba(45,154,253,1) 85%);
  color: white !important;
}